@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

.container {
    width: min(100% - 30px, 960px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.grid-center {
    display: grid;
    place-items: center;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}