@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.grid-center {
    display: grid;
    place-items: center;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}

header {
    height: 60px;
    background-color: #00bfff;

    h1 {
        line-height: 60px;
        margin-left: 20px;
    }
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 60px;

    a {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

li + li {
    margin-left: 15px;
}

footer {
    height: 80px;
    background-color: grey;
    text-align: center;
    padding-top: 20px;

}

main {
    height: calc(100dvh - 60px - 80px);
}